.vscode
.venv
.venv_310
MyMediaPipe/src/__pycache__/
MediaPipe/video_outputs
OpenFace2.0/video_outputs
OpenFace3.0/video_outputs
OpenFace3.0/__pycache__
OpenFace3.0/logs
sam2_lip_segmentation
MayaFaces.zip
data