[submodule "external/TongueSAM"]
	path = external/TongueSAM
	url = https://github.com/QuinnMcGill/TongueSAM.git
[submodule "external/OpenFace"]
	path = external/OpenFace
	url = https://github.com/CMU-MultiComp-Lab/OpenFace-3.0.git
